html {
  padding: 25px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.error {
  color: white;
  background-color: rgb(255, 153, 153);
  padding: 5px;
  margin: 10px 10px 10px 0;
}

.message {
  background-color: rgb(255, 255, 153);
  padding: 5px;
}

.btn-delete {
  background: none!important;
  border: none; 
  padding: 0!important;
  font: inherit;
  border-bottom: 1px solid #444; 
  cursor: pointer;
}

.form-delete {
  display: inline;
}