<form action="/lists" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the name of the list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/">cancel</a>
  </fieldset>
</form>