<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/read/<%= file %>"><%= file %></a> [<a href="/edit/<%= file %>">Edit</a>] 
      <form action="/delete/<%= file %>" method="post" class="form-delete">
        <input value="Delete" type="submit" class="btn-delete">
      </form>
    </li>
  <% end %>
</ul>

<div>
  <a href="/new">New Document</a>
</div>