<h1>Hello</h1>
<svg id="chart" width="500" height="300"></svg>

<%= data_to_json %>

<script>

var dateFormat = d3.time.format('%Y-%m-%d %H:%M:%S %Z')

var data = <%= data_to_json %>

var vis = d3.select("#chart"),
  WIDTH = 500,
  HEIGHT = 300,
  MARGINS = {
    top: 20,
    right: 20,
    bottom: 20,
    left: 20
  },

  xScale = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([0,10]),
  yScale = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([0, 10]),

  xAxis = d3.svg.axis()
    .scale(xScale),

  yAxis = d3.svg.axis()
    .scale(yScale)
    .orient("left");

  vis.append("svg:g")
    .attr("class", "axis")
    .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")
    .call(xAxis);

  vis.append("svg:g")
    .attr("class", "axis")
    .attr("transform", "translate(" + (MARGINS.left) + ",0)")
    .call(yAxis);

  var lineGen = d3.svg.line()
    .x(function(d) {
      return xScale(dateFormat.parse(d.date));
    })
    .y(function(d) {
      return yScale(parseInt(d.pH));
    })
    .interpolate('basis');

  vis.append("svg:path")
    .attr('d', lineGen(data))
    .attr('stroke', 'blue')
    .attr('stroke-width', 2)
    .attr('fill', 'none');

</script>
